<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <log4net>
    <root>
      <priority value="ALL" />
      <appender-ref ref="DatadogAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="DatadogAppender" type="DataDogLog4NetAppender.DatadogAppender,DataDogLog4NetAppender">
      <param name="ApiKey" value="53091a9b89326e9cf0fb25e0157b799f" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n%nLogger: %c%nThread: %t%nLocation: %location%n%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5level %date{HH:mm:ss} [%logger] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>